<!DOCTYPE html>
<html>
  <head>
    <title>Rock - Paper - Scissors</title>
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
    <link href="/stylesheets/bootstrap.css" rel='stylesheet' type="text/css" />
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <a class="btn btn-primary btn-large" href="/rock">Rock</a>
    <a class="btn btn-primary btn-large" href="/paper">Paper</a>
    <a class="btn btn-primary btn-large" href="/scissors">Scissors</a>
    <%= yield %>
  </body>
</html>